* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  padding: 40px;
  display: flex;
}

.container {
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

form {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #ccc;
  transition: 0.3s;
}
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 132, 255, 0.3);
  outline: none;
}

form button {
  padding: 8px 14px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  margin-top: 15px;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.actions button {
  margin-left: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.edit {
  background: #28a745;
  color: #fff;
  border: none;
  width: 79px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background: #dc3545;
  color: #fff;
  border: none;
  width: 79px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;x
}

/* MODAL BACKDROP */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* FORM */
.modal-form {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  animation: modalScale 0.25s ease;
}

/* INPUT WRAPPER */
.modal-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f3f4f6;
  border-radius: 10px;
  padding: 10px 12px;
}

/* ICON */
.modal-input-wrapper i {
  color: #6b7280;
  font-size: 18px;
}

/* INPUT */
#modal-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #111827;
}

#modal-input::placeholder {
  color: #9ca3af;
}

/* BUTTON */
.add-btn {
  background: #4f46e5;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.add-btn:hover {
  background: #4338ca;
}

.hidden{
  display: none;
}

/* ANIMATION */
@keyframes modalScale {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
