* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f2f2f2;
  padding: 40px;
  display: flex;
}

.container {
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

form {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid #ccc;
  transition: 0.3s;
}
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 132, 255, 0.3);
  outline: none;
}

form button {
  padding: 8px 14px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  margin-top: 15px;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.actions button {
  margin-left: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.edit {
  background: #28a745;
  color: #fff;
  border: none;
  width: 79px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}

.delete {
  background: #dc3545;
  color: #fff;
  border: none;
  width: 79px;
  height: 34px;
  border-radius: 5px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;x
}
